@model Employee
@{
    ViewData["Title"]="ForgotPassword";
}
<head>
    <style>
        form{
            margin-left: 5em;
            width: 20em;
        }       
        .forgot{
            width: 25em;
            height: 25em;
            background-color: black;
            border-color: black;
            border-radius: 3em;
            display: flex;
            align-items: left;
            flex-direction: column;
            justify-content: center;
            margin-top:2em;
            
        }       
        button {
            display: block;
            margin-left: 9em;
            background-color: white;
            height: 2em;
            width: 5em;
            border-radius: 1em;
            margin-left: 20%;
            margin-top: 10%;
            background: whitesmoke;
            color: black;
            cursor: pointer;
        }
        
        button:hover {
            
            background: rgb(68, 149, 204);
            color: black;
        }       
       
        label{
            margin-left: -60px;
            width: 45%;
            margin-top: 5%;
            color: whitesmoke;
        }
        h1
        {
            margin-left: 10%;
            margin-top: -50px;
        }
    </style>
</head>
<div class="forgot">
<h1 style="color: whitesmoke;"> Change Password</h1>
<form method="post" action="">
    <div>
        <label for="Email">Email</label>
        <input type="email" pattern=".+gmail\.com" asp-for="Email"placeholder="Email" title="Enter a valid Email ID"  required/>
    </div>
    <div>
        <label for="Password">New Password</label>
        <input type="password" name="Password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[#$!%@@&*?]).{8,}" title="Must contain atleast One Number,One Uppercase,One Lowercase and One Special Character,and have atleast 8 or more characters" required/>
    </div>
    <div>
        <label for="ConfirmPassword">Confirm Password:</label>
        <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[#$!%@@&*?]).{8,}" title="Must contain atleast One Number,One Uppercase,One Lowercase and One Special Character,and have atleast 8 or more characters" required/>
    </div>
     <div>
        <button type="submit">Submit</button>
        <br>
        <div style="max-height: 40px;width: 350px;height: 40px; border: 0.01px solid transparent;margin-top: -1%;margin-left: -5px;color:red;></div>
             <p style="margin-left:2%;color:red;">@ViewBag.InvalidID</p>
            <p style="margin-left:-8%;margin-top: -15px;color:red">@ViewBag.NotMatching</p>
            <p style="margin-left:-8%;margin-top: -15px;color:red">@ViewBag.InvalidRegex</p>
        </div>
       
    </div>
<a style="margin-left: -5%;color:white;" asp-action="Login">Go Back ?</a>   
</form>
</div>


