@{
    ViewData["Title"] = "Home Page";
}
@model Employee
<head>
    <style>
    body
    {
    margin-bottom: 60px;
    background-image: url("../images/home.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
</style>
<div class="text-center">
<h1  >Employee Management System</h1>
</head>   

