@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="color: black;">@ViewData["Title"]</h1>
<style>
    body {
    background-image: url("https://img.freepik.com/free-photo/abstract-textured-backgound_1258-30530.jpg?w=740&t=st=1678939130~exp=1678939730~hmac=7db349ce41ae9d94aff7d6dd2ed245c839324d9cb383b6b7d05fda61b9a71755");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    }
</style>
<img src="../images/lock.png"width="80px" height="80px"></img>
<p>Aspire provide a wide variety of services to a wide range of organisations, in doing so we process data, a lot of data,
some of which may contain personal information about the employees and customers of the organisations we provide services to.</p>
<p>Our lawful basis for processing such information, other than when there is a legal obligation, is legitimate interest. Our interest in processing personal information
 is in the delivery of services.</p>
 <p>When collecting or processing personal information Aspire Technology Solutions play many roles. Sometimes we are the 
data controller, deciding the purpose of the processing; sometimes the data processor, processing on the instruction of a
data controller; and in some cases, we are purely the receivers of personal information, we receive or have access to 
personal information, but do not process it.</p>
<p>Aspire have created this policy to explain to any interested parties how and why we:</p>
<ul>
  <li>Collect</li>
  <li>Store</li>
  <li>Process</li>
  <li>Disclose</li>
</ul> 
…any of your personal information we may need to process in delivery of our services