/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-k15dldvi4v] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-k15dldvi4v] {
  color: white;
}

.btn-primary[b-k15dldvi4v] {
  color: #fff;
  background-color: #16f7f7;
  border-color: #0ad8f3;
}

.nav-pills .nav-link.active[b-k15dldvi4v], .nav-pills .show > .nav-link[b-k15dldvi4v] {
  color: #fff;
  background-color: #1fecec;
  border-color: #0beff7;
}

.border-top[b-k15dldvi4v] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-k15dldvi4v] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-k15dldvi4v] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-k15dldvi4v] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-k15dldvi4v] {
  position: fixed;
  bottom: -50px;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

button[b-k15dldvi4v] {
  background-color: #19fdf2;
  color: white;
  padding: 5px 5px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 7%;
  transition-duration: 0.2s;
}

button:hover[b-k15dldvi4v] {
  opacity: 0.8;
  background-color: #02cafc;
}