@model Employee
@{
    ViewData["Title"]="Registration";
    Layout="_Login";
}
<head>
    <Style>
        body{
            overflow: hidden ;
        }
        label
        {
            width: 15%;
        }
        .right label 
        {
            width:200px;
        }
      button
        {   
            width: 70px;
            height: 35px;
            background-color: rgb(31, 30, 30);
            border-radius: 1em;
            align-items: left;
            flex-direction: row;
            justify-content: left;
            margin-left: 33%;
            margin-top: -2%;
            
        }
        button:hover 
        {
            background-color:rgb(82, 21, 139);
            cursor: pointer;
        }

    </Style>
</head>

<h2>Employee Data Registration</h2><img style="margin-top: -7%;margin-left: 38%;" src="https://cdn-icons-png.flaticon.com/512/1946/1946423.png"width ="27px" height="27px" >
<form method = "post">
 
    <div>
         <p>
        <label asp-for="ProfilePIC">Profile Picture </label>
        <input name="ProfilePIC" type="file" onchange="readURL(this)" accept="Image/*" required/>
    </p>
    <p>
        <label asp-for="EmployeeID">Employee ID</label>
        <input type="number" asp-for="EmployeeID"placeholder="Eg : 1,4,7" required/>
    </p>
    <div style="max-height: 40px;width: 300px;height: 40px; border: 0.01px solid transparent;margin-left: 400px;margin-top: -43px;color:red;>
    <p style="margin-left: 170px;color:red;">@ViewBag.IdExist</p>
    </div>
    <p>
        <label asp-for="EmployeeName">Employee Name</label>
        <input asp-for="EmployeeName"placeholder="Eg : Rahul R" pattern="^[A-Za-z.\s_-]+$" title="Must contain only uppercases and lowercases"  required/>
    </p>
    <p>
        <label asp-for="Gender">Gender</label>
        <select asp-for="Gender">
            <option value="Male">Male</option><option value="Female">Female</option><option value="Other">Other</option>
        </select>
    </p>
    <p>
        <label asp-for="Age" ></label>
        <input asp-for="Age"placeholder="Eg : 23"required/>
    </p>
    <p>
        <label  asp-for="Salary">Salary</label>
        <input type="number" asp-for="Salary"placeholder="Eg : 40000"required/>
    </p>
    <p>
        <label asp-for="Email"></label>
        <input type="email" pattern=".+gmail\.com" asp-for="Email"placeholder="Eg :Vicky@gmail.com" title="Enter a valid Email ID"  required/>
    </p>
    <div style="max-height: 40px;width: 300px;height: 40px; border: 0.01px solid transparent;margin-left: 390px;margin-top: -43px;color:red;>
    <p style="margin-left: 170px;color:red;">@ViewBag.EmailExist</p>
    </div>
    </div>
    <div class="right" style="margin-top: -23%;margin-left: 50%;">
    <P>
        <label asp-for="Password"></label>
        <input type="password" name="Password" placeholder="Vicky@123##" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[#$!@@%&*?]).{8,}" title="Must contain atleast One Number,One Uppercase,One Lowercase and One Special Character,and have atleast 8 or more characters" required/>
    </P>
    <p>
        <label asp-for="MobileNumber">Mobile Number</label>
        <input  asp-for="MobileNumber"placeholder="Eg : 9495871235" pattern= "^[6-9][0-9]{9}$" title="Mobile Number must be valid"required/>
    </p>
    <div style="max-height: 40px;width: 300px;height: 40px; border: 0.01px solid transparent;margin-left: 430px;margin-top: -43px;color:red;>
    <p style="margin-left: 170px;color:red;">@ViewBag.NumberExist</p>
    </div>
     <p>
        <label asp-for="Nationality">Nationality</label>
        <select asp-for="Nationality">
            <option value="Indian">Indian</option>
        </select>
    </p>
     <p>
        <label asp-for="State">State</label>
        <input asp-for="State"placeholder="Eg : Kerala"required/>
    </p>
    <p>
        <label asp-for="DateOfBirth">Date Of Birth</label>
        <input type="date" asp-for="DateOfBirth"placeholder="Eg : 25-03-2000"required/>
    </p>
        <p>
        <label asp-for="Department">Department</label>
        <select asp-for="Department">
            <option value="Development">Development</option>
            <option value="Testing">Testing</option>
            <option value="HR">HR</option>
            <option value="Research">Research</option>
        </select>
    </p>
    <p>
        <label asp-for="AccountNo">Account Number</label>
        <input asp-for="AccountNo"placeholder="Eg : 829101026666" pattern="^[0-9]{12}$" title="Account number should contain only numbers and have exactly 12 digits" required/>
    </p>   
    <div style="max-height: 40px;width: 300px;height: 40px; border: 0.01px solid transparent;margin-left: 430px;margin-top: -43px;color:red;>
    <p style="margin-left: 170px;color:red;">@ViewBag.AccountExist</p>
    </div>
    </div>
    <br>
    <br>
    <button style="margin-left: -5px;width: 90px;Height:35px;"><a style="color: white;text-decoration: none;" asp-action="Options">Go Back </a></button>
    <button  style="margin-top: 10px;margin-left: 340px;color: white;width: 80px;Height:35px;" type="submit">Submit</button>    
</form>
