@model Employee
@{
    ViewData["Title"]="sucess";
    Layout="_Login";
}
<h1 style="color: BLACK;">Action Completed</h1>
<a asp-action="Index">View all Employes</a>
<img style="margin-top: -20%;margin-left: 45%;" src="../images/sucess.png" width="500px" height="500px"/>