html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url("https://assets-global.website-files.com/5e39e095596498a8b9624af1/5f63c2a1101a263375e3c9c9_WFU%20thumb%2C%20Classes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-right{
  margin-left:50rem;
}